@import "../../../../assets/style/functions/toRem.scss";
@import "../../../../assets/style/utils";

$jsContents: space-around, space-between, space-end, center, flex-start, flex-end;
$aItems: baseline, start, center, flex-start, flex-end;
$directions: row, row-reverse, column, column-reverse;

.flexbox {
  display: flex;
	width: 100%;
	&--justify {
		@each $jsContent in $jsContents {
			&-#{$jsContent} {
				justify-content: $jsContent;
			}
		}
	}

	&--align {
		@each $aItem in $aItems {
			&-#{$aItem} {
				align-items: $aItem;
			}
		}
	}

	&--direction {
		@each $direction in $directions {
			&-#{$direction} {
				flex-direction: $direction;
			}
		}
	}
}
