@import '../../../../assets/style/functions/toRem.scss';
@import '../../../../assets/style/utils';

.typography {
  color:var(--base);
  @include font-group(18px, 32px, 700);
  &--color{
    &-light {
      color: var(--white);
    }
    &-dark {
      color: var(--base);
    }
  }

  &--variant {
    &-h1 {
      @include font-group(32px, 40px, 700);
    }
    &-h2 {
      @include font-group(24px, 32px, 700);
    }
    &-h3 {
      @include font-group(20px, 28px, 700);
    }
    &-h4 {
      @include font-group(16px, 24px, 700);
    }
    &-h5 {
      @include font-group(14px, 22px, 700);
    }
    &-h6 {
      @include font-group(12px, 20px, 700);
    }
  }
}