@import "../../../../assets/style/functions/toRem.scss";
@import "../../../../assets/style/utils";

$sizes: 5, 10, 15;
$m: margin;
$p: padding;

@mixin block ($property) {
  &--#{$property} {
		@each $size in $sizes {
			&-#{$size} {
				#{$property}: #{$size}px;
			}
			&-left-#{$size} {
				#{$property}-left: #{$size}px;
			}
			&-right-#{$size} {
				#{$property}-right: #{$size}px;
			}
			&-top-#{$size} {
				#{$property}-top: #{$size}px;
			}
			&-bottom-#{$size} {
				#{$property}-bottom: #{$size}px;
			}
		}
	}
}

.block {
  @include block($m);
  @include block($p);
}
