@import "../../../../assets/style/functions/toRem.scss";
@import "../../../../assets/style/utils";

.select-box {
  @include font-group(14px, 22px, 400);
  border: toRem(1px) solid var(--dark-gray);
  border-radius: toRem(5px);
  padding: toRem(4px);
  min-width: toRem(100px);
  &:focus {
    outline: none;
  }
}
