@import '../../../../assets/style/functions/toRem.scss';
@import '../../../../assets/style/utils';

.paragraph {
  color:var(--base);
  @include font-group(18px, 32px, 700);
  &--color{
    &-light {
      color: var(--white);
    }
    &-dark {
      color: var(--base);
    }
    &-danger {
      color: var(--red);
    }
  }
}