@import "../../../assets/style/functions/toRem.scss";
@import "../../../assets/style/utils";

.header {
	padding: toRem(20px);
	background: var(--light-gray);
	color: var(--white);
	&--logo {
		border: 1px solid var(--dark-gray);
		display: block;
		width: toRem(100px);
		height: toRem(85px);
		object-fit: contain;
		border-radius: 50%;
	}
}
