@import "../../../assets/style/functions/toRem.scss";
@import "../../../assets/style/utils";

.loading {
  min-height: calc(100vh - 234px);
  background: url('../../../assets/icons/loading.gif') no-repeat center/30%
}
