@import "../../../../assets/style/functions/toRem.scss";
@import "../../../../assets/style/utils";

.form-group {
	display: flex;
	align-items: center;
	margin-bottom: toRem(15px);
	&--label {
		@include font-group(17px, 28px, 700);
		margin-right: toRem(10px);
		min-width: toRem(100px);
	}

	&--input {
		@include font-group(14px, 22px, 400);
		border: toRem(1px) solid var(--dark-gray);
		border-radius: toRem(5px);
		padding: toRem(10px);
		width: -webkit-fill-available;
		&:invalid {
			border: toRem(2px) dashed var(--red);
			&:required {
				background-image: linear-gradient(to right, pink, lightgreen);
			}
		}
		&:focus {
			outline: none;
		}
		&::placeholder {
			transition: 0.3s ease;
		}
		&:focus::placeholder {
			color: transparent;
		}
	}
	&--error {
		@include font-group(16px, 22px, 600);
		color: var(--red);
	}
}
