@import "../../../assets/style/functions/toRem.scss";
@import "../../../assets/style/utils";

.pagination {
	border: 1px solid var(--dark-gray);
	display: inline-flex;
	border-radius: toRem(3px);
	&--item {
		@include font-group(14px, 22px, 400);
		color: var(--base);
		border-right: 1px solid var(--dark-gray);
	
		cursor: pointer;
		&:hover,
		&.active {
			background: var(--light-gray);
		}
		&:last-child {
			border: none;
		}

    a {
      display: block;
      padding: toRem(2px, 12px);
    }
    &-disabled {
      pointer-events: none;
      background: var(--dark-gray);
    }
	}
}
