@use 'sass:list';
@use 'sass:math';
@import '../variables';

@function toRem($value...) {
  $result: ();

  @each $val in $value {
    $result: list.append($result, math.div($val, $baseFontSize) * 1rem);
  }
  @return $result;
}
