@import "../../../assets/style/functions/toRem.scss";
@import "../../../assets/style/utils";

.not-found {
  text-align: center;
  &--image {
    width: toRem(400px);
    height: toRem(300px);
  }
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
