@import "../../../../assets/style/functions/toRem.scss";
@import "../../../../assets/style/utils";

.button {
	border: none;
	padding: toRem(8px, 20px);
	cursor: pointer;
	@include font-group(14px, 22px, 700);
	margin-left: 100px;
	border-radius: toRem(5px);
	margin-bottom: 50px;
	box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.75);
	transition: 0.3s ease;
	&:focus {
		transform: translate(0px, 5px);
		box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	}
	&--color {
		&-primary {
			background: var(--blue);
			color: var(--white);
		}
		&-dark {
			background: var(--base);
			color: var(--white);
		}

		&-light {
			color: var(--base);
			border: 1px solid var(--base);
		}
	}
}
