@import "../../../../assets/style/functions/toRem.scss";
@import "../../../../assets/style/utils";

.table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: toRem(20px);
	&--thead {
		&-tr {
			&-th {
				border: toRem(1px) solid var(--dark-gray);
				padding: toRem(8px);
				text-align: left;
				background-color: var(--base);
				color: var(--white);
				@include font-group(18px, 28px, 700);
			}
		}
	}
	&--tbody {
		&-tr:nth-child(even) {
			background-color: var(--light-gray);
		}
		&-tr {
			&:hover {
				background-color: var(--gray);
			}
			&-td {
				border: toRem(1px) solid var(--dark-gray);
				padding: toRem(8px);
				@include font-group(20px, 28px, 400);
			}
		}
	}
}
