/** COLORS */
:root {
	--main-bg: #0a2640;
	--green: #65e4a3;
	--black: #000;
	--white: #fff;
	--blue: #008cba;
	--base: #0a2640;
	--gray: #edf6f6;
	--red: #d61515;
	--light-gray: #f4f5f5;
	--dark-gray: #d9d9d9;
}
