@import "./functions/toRem.scss";

@mixin font($size, $lnHeight, $weight: 800) {
	@include text($size: toRem($size), $lnHeight: toRem($lnHeight), $weight: $weight);
}

@mixin font-group($size, $line, $weight) {
  font-size: toRem($size);
  line-height: toRem($line);
  font-weight: $weight;
}